.ipynb_checkpoints/*
week_01-intro/.ipynb_checkpoints/*
week_02-regression/.ipynb_checkpoints/*
week_03-classification/.ipynb_checkpoints/*
week_04-evaluation/.ipynb_checkpoints/*
week_05-deployment/.ipynb_checkpoints/*
week_05-deployment/homework/__pycache__/*
week_05-deployment/homework/.ipynb_checkpoints/*
week_06-trees/.ipynb_checkpoints/*
project_01_midterm/notebook/.ipynb_checkpoints/*
project_01_midterm/__pycache__
week_08-deep-learning/.ipynb_checkpoints/*
week_09-serverless/.ipynb_checkpoints/*
week_10-kubernetes/.ipynb_checkpoints/*
project_02_capstone_1/notebook/.ipynb_checkpoints/
project_02_capstone_1/data/test/
project_02_capstone_1/data/train/
project_02_capstone_1/data/validation/
project_02_capstone_1/notebook/logs/
project_02_capstone_1/notebook/models/
project_02_capstone_1/__pycache__
project_03_capstone_2/notebook/.ipynb_checkpoints/