.ipynb_checkpoints/*
week_01-intro/.ipynb_checkpoints/*
week_02-regression/.ipynb_checkpoints/*
week_03-classification/.ipynb_checkpoints/*
week_04-evaluation/.ipynb_checkpoints/*
week_05-deployment/.ipynb_checkpoints/*
week_05-deployment/homework/__pycache__/*
week_05-deployment/homework/.ipynb_checkpoints/*
week_06-trees/.ipynb_checkpoints/*
project_01_midterm/notebook/.ipynb_checkpoints/*
project_01_midterm/__pycache__