[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.3.1"
flask = "*"
gunicorn = "*"
waitress = "*"
pandas = "==2.1.0"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.10"
